body {
  font-family: Manrope;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.main_fullservice {
  padding-bottom: 128px;
}

.main_blog {
  padding-top: 130px;

}

.main_help {
  margin-top: 184px;
  margin-bottom: 134px;
}

.main_contact {
  background: url(../images/bg-auto.png);
  background-size: cover;
  background-position: center;

}

.main_advantages {}

.logo {}

.button {
  padding: 16px 40px;
  background: #FF6433;
  border-radius: 12px;
  gap: 10px;
  width: 203px;
  height: 64px;
  text-align: center;
  color: #fff;
  transition: all .3s;
}

.button:hover {
  transform: scale(1.05);
}

/* ------------------------------------------------------------------- */
.header {}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 138px;
}

.header__top-logo {}

.header__top-nav {
  margin-left: auto;
}

.header__top-right {
  display: flex;
  align-items: center;

}

.header__nav-list {
  display: flex;
  line-height: 28px;
  color: rgb(30, 27, 27);
  font-weight: 600;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__nav-link {}

.header__top-call {
  display: flex;
  align-items: center;
}

.header__top-button {
  margin-left: 32px;
  margin-right: 14px;
}

.header__top-inf {}

.header__top-text {
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}

.header__top-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
}

.header__body-main {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  height: 100%;
  /* margin: auto 0; */
  margin-bottom: 77px;

}

.header__body-service {
  color: #1E1B1B;

}

.header__body-text {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
}

.header__body-box {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.header__body-button {
  margin-right: 30.91px;
  font-weight: 600;
  font-style: 18px;
  line-height: 175%;
  color: #fff;
}

.header__body-play {
  margin-right: 8px;
}

.header__body-video {
  width: 76px;
  height: 19px;
  font-family: Roboto sans-serif;
  font-weight: 500;
  line-height: 18.75px;
  margin-left: 8px;

}

.header__body-open {
  display: flex;
  margin-top: 48px;
}

.header__open-info {}

.header__open-images {
  margin-right: 13.32px;
}

.header__open-text {
  font-weight: 500;
  line-height: 24px;
  color: #939191;
  margin-left: 13.32px;
}

.header__open-time {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  margin-left: 13.32px;

}

.header_body-raiting {
  position: relative;
}

.image-service {}

.header_quick-service {
  background-color: #FFFFFF;
  border-radius: 59px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  display: flex;
  align-items: center;
  padding: 14px;
  position: absolute;
  top: 30px;
  left: -10px;
  max-height: 80px;
  width: 240px;
  justify-content: space-around;

}

.header_circle {
  color: #fff;
  background: #5CBA99;
  border-radius: 50%;
  padding: 8px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 60px;
  width: 60px;
  ;
}

.header_24 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;

}

.header_hour {
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 600;
  line-height: 28px;
  /* color: #fff; */
}

.quick-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  margin-right: 10px;
}

.header_stars {
  background-color: #FFFFFF;
  border-radius: 59px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  padding: 24px 0;
  display: flex;
  align-items: center;
  position: absolute;
  top: 500px;
  left: 320px;
  max-height: 80px;
  width: 300px;

}

.header_stars-text {
  margin-left: 15px;
  margin-right: 15px;
}

.header_stars-number {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
}

.header_stars-rait-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}

.header_rate {}

/* ------------------------SERVICE---------------------------------- */

.main {
  font-weight: 600;
}

.fullservice {
  background: #F2F2F2;

}

.service__block {}

.service__text {
  text-align: center;
  margin-bottom: 64px;
}

.service__subtitles {
  padding-top: 128px;
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.service__titles {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  max-width: 858px;
  margin-left: 310px;
}

.service__grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.service__grid-item {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 7.96px;
  height: 232px;
  margin-bottom: 8px;
  transition: all .3s;
}


.service__grid-item:hover {
  background: #FF6433;
  color: #ffffff;
}

.service__grid-item:hover svg path {
  stroke: #ffffff;
  fill: #fff;
}

.service__grid-icons {
  margin-bottom: 20px;

}

.service__grid-text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
}

.service__arrow {
  margin-left: 1050px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  transition: all .3s;
  max-width: 290px;
}

.service__arrow-text {
  margin-left: 2px;
  margin-right: 16px;
  font-size: 18px;
  line-height: 175%;
  color: #1E1B1B;
}

.service__arrow-icon-right {}

.service__arrow:hover {
  background: #FF6433;
  border-radius: 10px;
}

.service__arrow:hover p {
  color: #fff;
}

.service__arrow:hover svg path {
  fill: #fff;
  stroke: #fff;
}

/* ------------------BLOG--------------------------- */
.blog {
  color: #1E1B1B;
}

.blog__inner {
  padding-bottom: 100px;
}

.blog__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 47px;
}

.blog__content {}

.blog__filter-box {
  display: flex;
  margin-bottom: 46px;
}

.blog__filter-item {}

.blog_filter-btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  padding-right: 30px;
  background: #fff;

}

.blog_filter-btn::last-child {
  padding-right: 0px;
}

.blog_filter-btn--active {
  color: #FF6433;

}

.blog__list {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 64px 32px;
}

.blog__list-content {}

.blog__list-link {
  display: block;
  transition: all .3s;
}

.blog__list-link:hover {
  box-shadow: 3px 3px 5px 0px #1e1b1b51;
  transform: scale(1.05);
}

.blog__list-img-box img {
  width: 100%;
  height: 100%;
}

.blog-list-img {}

.blog__list-text {}

.blog__list-posted {
  font-weight: 600;
  line-height: 28px;
  color: #939191;
  margin-bottom: 16px;
}

.blog__list-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.blog_list-read {
  font-weight: 600;
  line-height: 28px;
}

/* -----------------HELP----------------------------------- */

.help {
  color: #1E1B1B;
}

.help__inner {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.help__content {
  margin-right: 131px;
}

.help__content-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
  max-width: 524px;
}

.help__content-text {
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
  max-width: 437px;
}

.help__content-btn {
  transition: all .3s;
}

.help__content-btn:hover {
  transform: scale(1.05);
}

.help__list {}

.help__list-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 432px;
}

.help__list-decor {}

.list_decor-circle {
  margin-right: 24px;
  margin-bottom: 0px;
  /* align-items: center; */
}

.decor-circle-img {
  margin-bottom: -58px;

}

.circle-3 {
  margin-top: -110px;
}

.decor-circle-number {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* background: url(/images/Circle\ Bottom.svg) 0 -5px / 100% no-repeat; */
  width: 80px;
  height: 80px;
}

.list_decor-line {
  /* margin-left: 20px; */
  text-align: center;
  margin-right: 25px;
}

.line-1 {
  margin-bottom: 16px;
}

.line-2 {
  /* margin-bottom: 57px; */
}

.help__list-content {
  /* max-width: 336px;   */
  margin-bottom: 40px;
}

.list-content-title {
  /* margin-top: 60px; */
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  padding-bottom: 25px;
}

.list-content-title:last-child {
  padding-bottom: 0px;
}

.list-content-text {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

.help__list-content.list-content-3 {
  /* margin-bottom: 10px; */
}

.help__list-content.list-content-1 {
  margin-top: 30px;

}

.help__list-content.list-content-2 {
  margin-top: 50px;
}


/* -------------CONTACT----------------------- */

.contact {
  color: #FFFFFF;
}

.contact__inner {
  display: flex;
  align-items: center;
}

.contact__box {
  margin-left: 15px;
  background: #FF6433;
  width: 729px;
  height: 502px;
}

.contact-box-content {}

.contact__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  padding-top: 128px;
  padding-bottom: 48px;
  max-width: 569px;
  margin-left: 80px;
}

.contact__button {
  font-size: 18px;
  line-height: 175%;
  background: #1E1B1B;
  border-radius: 12px;
  padding: 16px 40px;
  margin-left: 66px;
  display: block;
  transition: all .3s;
  max-width: 177px;
  max-height: 64px;
}

.contact__button:hover {
  transform: scale(1.05);
}

/* ------------------------ADVANTAGES---------------------- */
.advantages {
  max-height: 210px;
}

.advantages__inner {}

.advantages__content {
  display: flex;
  justify-content: space-between;
}

.advantages__content-items {
  margin-top: 48px;
  margin-bottom: 48px;
}

.advantages__content-number {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #661CE7;
}

.advantages__content-text {
  font-size: 24px;
  line-height: 36px;
  color: #1E1B1B;
  opacity: 0.7;
}

/* --------------------LOGOS-------------------------- */
.main_logos {
  background: #E2E6E9;
}

.logos {}

.logos__inner {}

.logos__box {}

.logos__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  color: #1E1B1B;
  letter-spacing: -0.03em;
  text-align: center;
  padding-top: 128px;
  padding-bottom: 35px;
}

.logos__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.logos-row-text-1 {
  transition: all .3s;
  margin-left: -30px;
}

.logos-row-text-2 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-3 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-4 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-5 {
  margin-left: -50px;
}

.logos-row-text-6 {
  transition: all .3s;
  margin-left: -30px;

}

.logos-row-text-7 {
  transition: all .3s;
  margin-left: -10px;

}

.logos-row-text-8 {
  transition: all .3s;
  margin-left: -10px;

}

.logos-row-text-9 {
  transition: all .3s;
  margin-left: -10px;


}

.logos-row-text-10 {
  transition: all .3s;
  margin-left: -50px;

}

.logos-row-text-1:hover svg path {
  transform: scale(1.2);
  fill: red;

}

.logos-row-text-2:hover svg path {
  transform: scale(1.2);
  fill: #0b9f9f;

}

.logos-row-text-3:hover svg path {
  transform: scale(1.2);
  fill: #9aa522;

}

.logos-row-text-4:hover svg path {
  transform: scale(1.2);
  fill: #2746c1;

}

.logos-row-text-5:hover svg path {

  transform: scale(1.2);
  fill: #08a12a;
}

.logos-row-text-6:hover svg path {
  transform: scale(1.2);
  fill: rgb(0, 255, 225);

}

.logos-row-text-7:hover svg path {
  transform: scale(1.2);
  fill: rgb(0, 255, 76);

}

.logos-row-text-8:hover svg path {
  transform: scale(1.2);
  fill: rgb(255, 0, 195);

}

.logos-row-text-9:hover svg path {
  transform: scale(1.2);
  fill: rgb(189, 41, 247);

}

.logos-row-text-10:hover svg path {
  transform: scale(1.2);
  fill: #d82791;

}

.row-2 {
  padding-bottom: 82px;
}

/* -------------------------REVIEW------------------------ */
.main_review {
  padding-top: 128px;
  padding-bottom: 159px;
}

.review {
  color: #1E1B1B;
  background: #F2F2F2;
  mix-blend-mode: multiply;
}

.review__inner {
  display: flex;
  flex-direction: column;
}

.review__title {
  margin-bottom: 76px;
  max-width: 909px;
  align-self: center;
}

.review__title-text {
  text-align: center;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
}

.review__slider {
  display: flex;
  width: 100%;
  height: 100%;

}

.review__slider-slide {
  margin-right: 48px;
  border-radius: 5px;
  overflow: hidden;

}

.review__slider-slide:last-child {
  margin-right: 0px;
}

.review__slid {
  position: relative;
padding: 60px;
}

.review__slider-items {
  display: flex;
  background: #FFFFFF;  
}
.review__slider-slide:hover .review__slider-social {
  transform: translatex(0%);
}

.review__slider-social {
  position: absolute;
  display: block;  
  bottom: 0;
  right: 0;
  left: 0%;
  top: 0;
  background-image: linear-gradient(to left, rgba(187, 187, 187, 0.489), rgba(0, 0, 0, 0));
  transform: translatex(-100%);
  transition: all .3s;

}
.review__slider-social svg path {
  fill: #b9b9b9;
}
.review__social {
  transition: all .3s;
  width: 24px;
  height: 24px;
}
.review__social:hover path {
  fill: #fff;
}

.review__slider-social svg {
  margin-top: 15px;
margin-left: 550px;  
}

.review__slider-user {
  display: flex;
  margin-bottom: 24px;
}

.review__slider-img {
  margin-right: 16px;
}

.review__slider-img img {
   width: 100%;
   height: 100%;
   border-radius: 50%;
}

.review__slider-txt {}

.review__slider-name {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;

}

.review__slider-city {
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

.review__slider-text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;


}
.review_arrow {
  position: relative;
}
.review_arrows {
  display: block;
  text-align: end;
padding: 50px;

}
.review_arrows-next path {
}
.review_arrows-next svg {
/* width: 23px; */
transform: rotate(-180deg);

}
.review_arrows-next {

}
.review_arrows-icon {
   /* display: block;  */
  position: relative;
  /* top: 0; */
  /* left: 0; */
  /* bottom: 0%; */
  /* right: 0%; */
  /* background: #fff; */
  /* border-radius: 50%; */
  /* padding: 18px; */
  transition: all .3s;
  padding: 15px;
  border-radius: 50%;
  /* scale: (1); */
}
.review_arrows-prev {
  margin-right: 20px;
}

.review_arrows-icon:hover path {
  fill: #fff;

}

.review_arrows-icon:hover {

}

.review_arrows-icon::before {
  content: "";
  display: block;
  position: absolute;
  /* top: 0%;
  left: 0%;
  transform: translate(-50%, -50%) scale(1); */
  width: 48px;
  height: 48px;
  /* background-color: #fff; */
  z-index: -1;
  transition: all .3s;

}

.review_arrows-prev::before{
  content: "";
  top: 45%;
  left: 45%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -2;
  transition: all .3s;

}

.review_arrows-next::before {
  content: "";
  top: 45%;
  left: 50%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -1;

}

.review_arrows-next:hover::before {
  transform: translate(-50%, -50%) scale(1);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #1E1B1B;
}

.review_arrows-prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #1E1B1B;
}

.review_dots {
  margin-right: 40px;
/* margin-top: 0px; */
}

.review_dots ul {
  margin-top: -70px;
  display: flex;
  text-align: center;
  justify-content: center;
  

}
.review_dots li {
  margin-right: 15px;

}
.review_dots li:last-child {
  margin-right: 0;
}

.review_dots button {
  font-size: 0;
  width: 32px;
height: 3px;
background-color: #939191;
}
.review_dots .slick-active button {
  background-color: #FF6433;
  transition: all .3s;
}

/* -----------------QUESTIONS------------------------------ */
.main_questions {
  padding: 128px 0 128px;
  color: #1E1B1B;
  background: #E2E6E9;
}
.questions {
}
.questions__inner {
}
.quest__title {
  text-align: center;
  flex: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 86px;

}
.quest__acc {
  max-width: 896px;
  margin: 0 auto;
}
.quest__acc-item {
  background: #FFFFFF;
  margin-bottom: 12px;
}
.quest__acc-item:last-child {
  margin-bottom: 0px;
}
.quest__acc-link {
}
.quest__acc-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.quest__acc-head {
  position: relative;
  margin-left: 40px;
  padding-top: 40px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  padding-bottom: 38px;
}
.quest__acc-cube {
  background: #FF6433;
  width: 51px;
  height: 48px;
  margin-top: 32px;
  margin-right: 40px;
}
.quest__acc-text {
  padding-top: 16px;
  margin-right: 155px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 31.5px;
  color: #939191;
  padding-bottom: 38px;
}

.quest__acc-head::after{
  content: "";
  position: absolute;
  top: 47%;
  left: 780px;
  width: 21px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}
.quest__acc-head::before {
  content: "";
  position: absolute;
  top: 47%;
  left: 780px;
  width: 21px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(90deg);
  transition: all .3s ;
}
.quest__acc-link--active .quest__acc-head::before {
  transform: rotate(0deg);
  transition: all .1s ;

}

/* ---------------------FeedBack------------------------ */
.main_feedback {
  padding-top: 117px;
  padding-bottom: 522px;
  color: #1E1B1B;
}
.feedback {
}
.feedback__inner {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  max-width: 1244px;
}
.feedback__form {
  margin-right: 139px;
  color: #1E1B1B;
}
.form-item::placeholder {
  color: #1E1B1B;
}
.feedback-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  max-width: 507px;
  padding-bottom: 48px;

}
.form-item {
  display: block;
  background: #F2F2F2;
border-radius: 2px;
line-height: 28px;
margin-bottom: 4px;
max-width: 624px;
width: 100%;
padding-top: 23px;
padding-left: 40px;
padding-bottom: 22px;
padding-right: 420px;

}
.form-item:last-child{
  margin-bottom: 0px;

}
.form-button {
  margin-top: 48px;
}
.feedback__info {
  max-width: 479px;
}
.feedback__info-adress {
  line-height: 28px;
  opacity: 0.7;
}
.feedback__info-name-city {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 479px;

}
.feedback__info-contact {
  line-height: 28px;
  opacity: 0.7;
}
.feedback__info-contact-info {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 231px;
}
.feedback__info-hours {
  line-height: 28px;
  opacity: 0.7;
}
.feedback__info-time {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  max-width: 438px;
}

/* -------------------BACKGROUND------------------- */
.main_bg {
  display: block;
}
.bg-image-1 {
  display: block;
  margin-right: 322px;
  max-width: 1280px;
  background: url(/images/4.jpg);
  background: cover;

}
.bg_image-2 {
}