body {
  font-family: Manrope;
  font-size: 16px;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000073;
  visibility: hidden;
  opacity: 0;
  transition: all .5s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.container {
  max-width: 1340px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
}

.burger {
  display: none;
}

.main_fullservice {
  padding-bottom: 128px;
}

.main_blog {
  padding-top: 130px;
}

.main_help {
  margin-top: 184px;
  margin-bottom: 134px;
}

.main_contact {
  background: url(../images/bg-auto.png);
  background-size: cover;
  background-position: center;
}

.button {
  padding: 16px 40px;
  background: #FF6433;
  border-radius: 12px;
  gap: 10px;
  width: 203px;
  height: 64px;
  text-align: center;
  color: #fff;
  transition: all .3s;
}

.button:hover {
  transform: scale(1.05);
}

/* ------------------------------------------------------------------- */
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 138px;
}

.header__top-nav {
  margin-left: auto;
}

.header__top-right {
  display: flex;
  align-items: center;
}

.header__nav-list {
  display: flex;
  line-height: 28px;
  color: rgb(30, 27, 27);
  font-weight: 600;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 32px;
}

.header__top-call {
  display: flex;
  align-items: center;
}

.header__top-button {
  margin-left: 32px;
  margin-right: 14px;
}

.header__top-text {
  font-weight: 500;
  line-height: 24px;
  opacity: 0.7;
}

.header__top-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
}

.header__body-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 77px;
}

.header__body-service {
  color: #1E1B1B;
}

.header__body-text {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
}

.header__body-box {
  display: flex;
  align-items: center;
  margin-top: 32px;
}

.header__body-button {
  margin-right: 30.91px;
  font-weight: 600;
  font-style: 18px;
  line-height: 175%;
  color: #fff;
}

.header__body-play {
  margin-right: 8px;
}

.header__body-video {
  width: 76px;
  height: 19px;
  font-family: Roboto sans-serif;
  font-weight: 500;
  line-height: 18.75px;
  margin-left: 8px;
}

.header__body-open {
  display: flex;
  margin-top: 48px;
}

.header__open-images {
  margin-right: 13.32px;
}

.header__open-text {
  font-weight: 500;
  line-height: 24px;
  color: #939191;
  margin-left: 13.32px;
}

.header__open-time {
  font-weight: 600;
  font-size: 18px;
  line-height: 175%;
  margin-left: 13.32px;
}

.header_body-raiting {
  position: relative;
}

.header_quick-service {
  background-color: #FFFFFF;
  border-radius: 59px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  display: flex;
  align-items: center;
  padding: 14px;
  position: absolute;
  top: 30px;
  left: -10px;
  max-height: 80px;
  width: 240px;
  justify-content: space-around;
}

.header_circle {
  color: #fff;
  background: #5CBA99;
  border-radius: 50%;
  padding: 8px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  height: 60px;
  width: 60px;
}

.header_24 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.header_hour {
  margin-left: 5px;
  margin-top: 5px;
  font-weight: 600;
  line-height: 28px;
}

.quick-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  margin-right: 10px;
}

.header_stars {
  background-color: #FFFFFF;
  border-radius: 59px;
  box-shadow: 0 0 0px 13px #dddbdb5a;
  padding: 24px 0;
  display: flex;
  align-items: center;
  position: absolute;
  top: 500px;
  left: 320px;
  max-height: 80px;
  width: 300px;
}

.header_stars-text {
  margin-left: 15px;
  margin-right: 15px;
}

.header_stars-number {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #000000;
}

.header_stars-rait-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
/* ------------------------SERVICE---------------------------------- */
.main {
  font-weight: 600;
}

.fullservice {
  background: #F2F2F2;
}

.service__text {
  text-align: center;
  margin-bottom: 64px;
}

.service__subtitles {
  padding-top: 128px;
  padding-bottom: 8px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
}

.service__titles {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #1E1B1B;
  max-width: 858px;
  margin-left: 200px;
}

.service__grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

.service__grid-item {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 7.96px;
  height: 232px;
  margin-bottom: 8px;
  transition: all .3s;
}


.service__grid-item:hover {
  background: #FF6433;
  color: #ffffff;
}

.service__grid-item:hover svg path {
  stroke: #ffffff;
  fill: #fff;
}

.service__grid-icons {
  margin-bottom: 20px;
}

.service__grid-text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.03em;
}

.service__arrow {
  margin-left: 1050px;
  margin-top: 32px;
  display: flex;
  align-items: center;
  transition: all .3s;
  max-width: 290px;
}

.service__arrow-text {
  margin-left: 2px;
  margin-right: 16px;
  font-size: 18px;
  line-height: 175%;
  color: #1E1B1B;
}

.service__arrow:hover {
  background: #FF6433;
  border-radius: 10px;
}

.service__arrow:hover p {
  color: #fff;
}

.service__arrow:hover svg path {
  fill: #fff;
  stroke: #fff;
}

/* ------------------BLOG--------------------------- */
.blog {
  color: #1E1B1B;
}

.blog__inner {
  padding-bottom: 100px;
}

.blog__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 47px;
}

.blog__filter-box {
  display: flex;
  margin-bottom: 46px;
}

.blog_filter-btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  padding-right: 30px;
  background: #fff;
}

.blog_filter-btn::last-child {
  padding-right: 0px;
}

.blog_filter-btn--active {
  color: #FF6433;
}

.blog__list {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
  gap: 64px 32px;
}

.blog__list-link {
  display: block;
  transition: all .3s;
}

.blog__list-link:hover {
  box-shadow: 3px 3px 5px 0px #1e1b1b51;
  transform: scale(1.05);
}

.blog__list-img-box img {
  width: 100%;
  height: 100%;
}

.blog__list-posted {
  font-weight: 600;
  line-height: 28px;
  color: #939191;
  margin-bottom: 16px;
}

.blog__list-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
}

.blog_list-read {
  font-weight: 600;
  line-height: 28px;
}

/* -----------------HELP----------------------------------- */

.help {
  color: #1E1B1B;
}

.help__inner {
  display: flex;
  justify-content: space-around;
}

.help__content {
  margin-right: 131px;
}

.help__content-title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 16px;
  max-width: 524px;
}

.help__content-text {
  line-height: 28px;
  opacity: 0.6;
  margin-bottom: 32px;
  max-width: 437px;
}

.help__content-btn {
  transition: all .3s;
}

.help__content-btn:hover {
  transform: scale(1.05);
}

.help__list-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 432px;
}

.list_decor-circle {
  margin-right: 24px;
  margin-bottom: 0px;
}

.decor-circle-img {
  margin-bottom: -58px;
}

.circle-3 {
  margin-top: -110px;
}

.decor-circle-number {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 80px;
  height: 80px;
}

.list_decor-line {
  text-align: center;
  margin-right: 25px;
}

.line-1 {
  margin-bottom: 16px;
}

.help__list-content {
  margin-bottom: 40px;
}

.list-content-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.03em;
  padding-bottom: 25px;
}

.list-content-title:last-child {
  padding-bottom: 0px;
}

.list-content-text {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
}

.help__list-content.list-content-1 {
  margin-top: 30px;
}

.help__list-content.list-content-2 {
  margin-top: 50px;
}

/* -------------CONTACT----------------------- */

.contact {
  color: #FFFFFF;
}

.contact__inner {
  display: flex;
  align-items: center;
}

.contact__box {
  margin-left: 15px;
  background: #FF6433;
  width: 729px;
  height: 502px;
}

.contact__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  padding-top: 128px;
  padding-bottom: 48px;
  max-width: 569px;
  margin-left: 80px;
}

.contact__button {
  font-size: 18px;
  line-height: 175%;
  background: #1E1B1B;
  border-radius: 12px;
  padding: 16px 40px;
  margin-left: 66px;
  display: block;
  transition: all .3s;
  max-width: 177px;
  max-height: 64px;
}

.contact__button:hover {
  transform: scale(1.05);
}

/* ------------------------ADVANTAGES---------------------- */
.advantages {
  max-height: 210px;
}

.advantages__content {
  display: flex;
  justify-content: space-between;
}

.advantages__content-items {
  margin-top: 48px;
  margin-bottom: 48px;
}

.advantages__content-number {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  color: #661CE7;
}

.advantages__content-text {
  font-size: 24px;
  line-height: 36px;
  color: #1E1B1B;
  opacity: 0.7;
}

/* --------------------LOGOS-------------------------- */
.main_logos {
  background: #E2E6E9;
}

.logos__title {
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  color: #1E1B1B;
  letter-spacing: -0.03em;
  text-align: center;
  padding-top: 128px;
  padding-bottom: 35px;
}

.logos__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 38px;
}

.logos-row-text-1 {
  transition: all .3s;
  margin-left: -30px;
}

.logos-row-text-2 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-3 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-4 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-5 {
  margin-left: -50px;
}

.logos-row-text-6 {
  transition: all .3s;
  margin-left: -30px;
}

.logos-row-text-7 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-8 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-9 {
  transition: all .3s;
  margin-left: -10px;
}

.logos-row-text-10 {
  transition: all .3s;
  margin-left: -50px;
}

.logos-row-text-1:hover svg path {
  transform: scale(1.2);
  fill: red;
}

.logos-row-text-2:hover svg path {
  transform: scale(1.2);
  fill: #0b9f9f;
}

.logos-row-text-3:hover svg path {
  transform: scale(1.2);
  fill: #9aa522;
}

.logos-row-text-4:hover svg path {
  transform: scale(1.2);
  fill: #2746c1;
}

.logos-row-text-5:hover svg path {
  transform: scale(1.2);
  fill: #08a12a;
}

.logos-row-text-6:hover svg path {
  transform: scale(1.2);
  fill: rgb(0, 255, 225);
}

.logos-row-text-7:hover svg path {
  transform: scale(1.2);
  fill: rgb(0, 255, 76);
}

.logos-row-text-8:hover svg path {
  transform: scale(1.2);
  fill: rgb(255, 0, 195);
}

.logos-row-text-9:hover svg path {
  transform: scale(1.2);
  fill: rgb(189, 41, 247);
}

.logos-row-text-10:hover svg path {
  transform: scale(1.2);
  fill: #d82791;
}

.row-2 {
  padding-bottom: 82px;
}

/* -------------------------REVIEW------------------------ */
.main_review {
  padding-top: 128px;
  padding-bottom: 159px;
}

.review {
  color: #1E1B1B;
  background: #F2F2F2;
  mix-blend-mode: multiply;
}

.review__inner {
  display: flex;
  flex-direction: column;
}

.review__title {
  margin-bottom: 76px;
  max-width: 909px;
  align-self: center;
}

.review__title-text {
  text-align: center;
  font-weight: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
}

.review__slider {
  display: flex;
  width: 100%;
  height: 100%;
}

.review__slider-slide {
  margin-right: 48px;
  border-radius: 5px;
  overflow: hidden;
}

.review__slider-slide:last-child {
  margin-right: 0px;
}

.review__slid {
  position: relative;
  padding: 60px;
}

.review__slider-items {
  display: flex;
  background: #FFFFFF;
}

.review__slider-slide:hover .review__slider-social {
  transform: translatex(0%);
}

.review__slider-social {
  position: absolute;
  display: block;
  bottom: 0;
  right: 0;
  left: 0%;
  top: 0;
  background-image: linear-gradient(to left, rgba(187, 187, 187, 0.489), rgba(0, 0, 0, 0));
  transform: translatex(-100%);
  transition: all .3s;
}

.review__slider-social svg path {
  fill: #b9b9b9;
}

.review__social {
  transition: all .3s;
  width: 24px;
  height: 24px;
}

.review__social:hover path {
  fill: #fff;
}

.review__slider-social svg {
  margin-top: 15px;
  margin-left: 550px;
}

.review__slider-user {
  display: flex;
  margin-bottom: 24px;
}

.review__slider-img {
  margin-right: 16px;
}

.review__slider-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.review__slider-name {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.review__slider-city {
  font-size: 16px;
  line-height: 28px;
  color: #939191;
}

.review__slider-text {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.review_arrow {
  position: relative;
}

.review_arrows {
  display: block;
  text-align: end;
  padding: 50px;
}

.review_arrows-next svg {
  transform: rotate(-180deg);
}


.review_arrows-icon {
  position: relative;
  transition: all .3s;
  padding: 15px;
  border-radius: 50%;
}

.review_arrows-prev {
  margin-right: 20px;
}

.review_arrows-icon:hover path {
  fill: #fff;
}

.review_arrows-icon:hover {}

.review_arrows-icon::before {
  content: "";
  display: block;
  position: absolute;
  width: 48px;
  height: 48px;
  z-index: -1;
  transition: all .3s;
}

.review_arrows-prev::before {
  content: "";
  top: 45%;
  left: 45%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -2;
  transition: all .3s;
}

.review_arrows-next::before {
  content: "";
  top: 45%;
  left: 50%;
  width: 48px;
  height: 48px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: -1;
}

.review_arrows-next:hover::before {
  transform: translate(-50%, -50%) scale(1);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #1E1B1B;
}

.review_arrows-prev:hover::before {
  transform: translate(-50%, -50%) scale(1);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #1E1B1B;
}

.review_dots {
  margin-right: 40px;
}

.review_dots ul {
  margin-top: -70px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.review_dots li {
  margin-right: 15px;
}

.review_dots li:last-child {
  margin-right: 0;
}

.review_dots button {
  font-size: 0;
  width: 32px;
  height: 3px;
  background-color: #939191;
}

.review_dots .slick-active button {
  background-color: #FF6433;
  transition: all .3s;
}

/* -----------------QUESTIONS------------------------------ */
.main_questions {
  padding: 128px 0 128px;
  color: #1E1B1B;
  background: #E2E6E9;
}

.quest__title {
  text-align: center;
  flex: 800;
  font-size: 58px;
  line-height: 76px;
  letter-spacing: -0.03em;
  margin-bottom: 86px;
}

.quest__acc {
  max-width: 896px;
  margin: 0 auto;
}

.quest__acc-item {
  background: #FFFFFF;
  margin-bottom: 12px;
}

.quest__acc-item:last-child {
  margin-bottom: 0px;
}

.quest__acc-content {
  display: flex;
  justify-content: space-between;
}

.quest__acc-head {
  position: relative;
  margin-left: 40px;
  padding-top: 40px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  padding-bottom: 38px;
}

.quest__acc-cube {
  background: #FF6433;
  width: 51px;
  height: 48px;
  margin-top: 32px;
  margin-right: 40px;
}

.quest__acc-text {
  padding-top: 16px;
  margin-right: 155px;
  margin-left: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 31.5px;
  color: #939191;
  padding-bottom: 38px;
}

.quest__acc-head::after {
  content: "";
  position: absolute;
  top: 47%;
  left: 780px;
  width: 21px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}

.quest__acc-head::before {
  content: "";
  position: absolute;
  top: 47%;
  left: 780px;
  width: 21px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
  transform: rotate(90deg);
  transition: all .3s;
}

.quest__acc-link--active .quest__acc-head::before {
  transform: rotate(0deg);
  transition: all .1s;
}

/* ---------------------FeedBack------------------------ */
.main_feedback {
  padding-top: 117px;
  padding-bottom: 178px;
  color: #1E1B1B;
}

.feedback {}

.feedback__inner {
  display: flex;
  align-items: center;
  max-width: 1244px;
}

.feedback__form {
  margin-right: 139px;
  color: #1E1B1B;
}

.form-item::placeholder {
  color: #1E1B1B;
}

.feedback-title {
  font-weight: 800;
  font-size: 64px;
  line-height: 84px;
  letter-spacing: -0.03em;
  max-width: 507px;
  padding-bottom: 48px;
}

.form-item {
  display: block;
  background: #F2F2F2;
  border-radius: 2px;
  line-height: 28px;
  margin-bottom: 4px;
  max-width: 624px;
  width: 100%;
  padding-top: 23px;
  padding-left: 40px;
  padding-bottom: 22px;
  padding-right: 420px;
}

.form-item:last-child {
  margin-bottom: 0px;
}

.form-button {
  margin-top: 48px;
}

.feedback__info {
  max-width: 479px;
}

.feedback__info-adress {
  line-height: 28px;
  opacity: 0.7;
}

.feedback__info-name-city {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 479px;
}

.feedback__info-contact {
  line-height: 28px;
  opacity: 0.7;
}

.feedback__info-contact-info {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  max-width: 231px;
}

.feedback__info-hours {
  line-height: 28px;
  opacity: 0.7;
}

.feedback__info-time {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  max-width: 438px;
}

/* -------------------BACKGROUND------------------- */
.map__inner {
  filter: grayscale(1);
}

.map__bg {
  background: url(../images/4.jpg) 0 0 / 100%, no-repeat;
  width: 100%;
  height: 448px;
  background-size: cover;
  background-position: center;
  margin-top: -169px;
}

/* ------------------------------FOTTER----------------------- */
.footer_top {
  color: #FFFFFF;
  background: #1E1B1B;
  opacity: 0.98;
}

.footer__inner-top {
  display: flex;
  margin-top: 128px;
  margin-bottom: 129px
}

.footer__top-content {
  max-width: 463px;
  margin-right: 193px;
}

.footer__content-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: -0.03em;
  margin-bottom: 64px;
}

.footer__social {
  display: flex;
}

.footer__social-item {
  margin-right: 24px;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-link {
  transition: all .3s;
}

.footer__social-link:hover path {
  fill: #FF6433;
}

.footer__info {
  max-width: 471px;
}

.footer__help-text {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  margin-bottom: 8px;
}

.footer__help-number {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  transition: all .3s;
}

.footer__help-number:hover {
  color: #FF6433;
}

.footer__info-adress {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  margin-bottom: 8px;
}

.footer__info-name-city {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
}

.footer__info-hours {
  font-size: 18px;
  line-height: 175%;
  opacity: 0.6;
  margin-bottom: 8px;
}

.footer__info-time {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.03em;
}

.footer_bottom {
  padding-top: 65px;
  padding-bottom: 65px;
  background: #1E1B1B;
  color: #FFFFFF;
}

.footer__inner-bottom {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.footer__nav-list {
  display: flex;
}

.footer__nav-item {
  margin-right: 36px;
}

.footer__nav-item:last-child {
  margin-right: 0px;
}

.footer__nav-link {
  line-height: 28px;
  transition: all .3s;
}
.footer__nav-link:hover {
  color: #FF6433;
}


.footer-bottom-copy {
  color: #939191;
}

.footer-bottom-copy:hover {
  color: #fff;
  transition: all .3s;
}

/* ----------------------MEDIA----------------------- */
/* -----------------------1200--------------------------- */
@media (max-width: 1200px) {
  .service__arrow {
    margin-left: 0;
  }

  /* ----------------- */
  .row-x {
    margin-left: -40px;
    margin-bottom: -80px;
  }

  /* ---------------------- */
  .review__slider-social {
    display: none;
  }

  /* ------------------------------- */
  .form-item {
    padding-right: 0;
  }
}

/* -----------------------1150--------------------------- */
@media (max-width: 1150px) {
  .help__content {
    margin-right: 10px;
  }

  .help__list-items {
    max-width: none;
  }

  /* ------------------- */
  .logos__row {
    flex-direction: column;
  }

  .logos__cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logos-row-text-1 {
    margin-top: -80px;

  }

  .row-x {
    margin-right: -80px;
  }
}

/* -----------------------1100--------------------------- */
@media (max-width: 1100px) {
  .header_body-raiting {
    display: none;
  }
  .header__body-main {
    text-align: center;
  }
  .header__body-box {
    justify-content: center;
  }
  .header__body-open{
    justify-content: center;
  }
}

/* -----------------------1000--------------------------- */
@media (max-width: 1000px) {
  .help__content-title {
    font-size: 42px;
  }
}

/* -----------------------950--------------------------- */
@media (max-width: 950px) {
  .quest__acc {
    max-width: 600px;
  }

  .quest__acc-head::after {
    left: 484px;
  }

  .quest__acc-head::before {
    left: 484px;
  }

}

/* -----------------------900--------------------------- */
@media (max-width: 900px) {
  .burger {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 200;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
  }

  .burger--folow {
    box-shadow: 0 0 4px 1px #000;
    background-color: #dcdada;

  }

  .burger span {
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 4px;
    background-color: #1E1B1B;
    margin: 5px 0;
  }

  .burger::after,
  .burger::before {
    content: '';
    display: block;
    height: 4px;
    width: 30px;
    border-radius: 4px;
    background-color: #1E1B1B;
  }

  .burger-x span {
    margin: 0;
    position: fixed;
    top: 40px;
    right: 25px;
    transform: rotate(45deg);
  }

  .burger-x::after {
    transform: rotateZ(135deg)
  }

  .burger-x::before {
    transform: rotateZ(45deg);
    background-color: transparent;

  }

  .header__body {
    margin-top: 190px;
  }

  .header__top {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #dcdada;
    z-index: 150;
    text-align: center;
    min-width: 320px;
    transform: translateX(100%);
    transition: all .5s;
  }

  .header__top--open {
    transform: translateX(0%);
  }

  .header__top-inner {
    display: block;
    width: 100%;
    height: 100%;
  }

  .header__nav-list {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .header__top-logo img {
    margin-top: 40px;
  }

  .header__top-right {
    margin-top: 150px;
    flex-direction: column;
  }

  .header__top-line {
    display: none;
  }

  .header__top-nav {
    margin-left: 50px;
  }

  .header__top-call {
    margin-right: 10px;
    margin-top: 20px;
  }

  .header__nav-item {
    margin-bottom: 40px;
  }

  /* -------------------- */
  .service__titles {
    margin-left: 0;
  }
}

/* -----------------------850--------------------------- */
@media (max-width: 850px) {
  .help__list-decor {
    display: none;
  }

  .help__list-content {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* ----------------------- */
  .contact__box {
    height: 100%;
  }

  .contact__button {
    margin-bottom: 5px;
  }

  /* --------------- */
  .advantages__content-text {
    margin-right: 5px;
  }

  /* ------------------------ */
  .logos-row-text-2 path {
    width: 100px;
  }

  /* --------------------- */
  .blog__list-title {
    font-size: 26px;
    line-height: 120%;
  }

  .blog_list-read {
    line-height: 100%;
    font-size: 16px;
  }

  .footer__inner-bottom {
    flex-direction: column;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__bottom-logo {
    margin-bottom: 20px;
  }

  .footer-bottom-copy {
    margin-top: 20px;
  }

  .footer__inner-bottom {
    text-align: left;
  }
}

/* -----------------------750--------------------------- */
@media (max-width: 750px) {
  .feedback-title {
    font-size: 36px;
    line-height: 100%;
  }

  /* -------------------------------- */
  .footer__top-content {
    margin-right: 0;
  }

  .footer__content-title {
    font-size: 28px;
  }
}

/* -----------------------650--------------------------- */
@media (max-width: 650px) {
  .wrapper {
    min-height: 0;
  }

  .header__body-text {
    font-size: 46px;
  }

  .header__body {
    margin-top: 120px;
  }

  .header__body-box {}

  /* -------------------------- */
  .service__titles {
    font-size: 35px;
  }

  .service__subtitles {
    padding-top: 30px;
    font-size: 16px;
  }

  .main_fullservice {
    padding-bottom: 30px;
  }

  /* -------------------------- */
  .main_help {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .help__content-title {
    font-size: 36px;
    line-height: 120%;
  }

  /* -------------------------- */
  .list-content-title {
    padding-bottom: 0;
    font-size: 24px;
  }

  .list-content-text {
    font-size: 14px;
  }

  /* ------------------ */
  .contact__title {
    margin-left: 10px;
    font-size: 38px;
  }

  /* -------------------------------- */
  .logos__title {
    padding-top: 30px;
  }

  /* --------------------- */
  .blog__title {
    font-size: 42px;
  }

  /* ----------------------------- */
  .advantages__content-number {
    font-size: 46px;
  }

  .advantages__content-text {
    font-size: 16px;
  }

  .quest__acc-head {
    font-size: 18px;
  }

  .quest__acc {
    max-width: 450px;
  }

  .quest__acc-head::after {
    left: 334px;
  }

  .quest__acc-head::before {
    left: 334px;
  }

  .cube-2 {
    padding-bottom: 60px;
    margin-top: 42px;
    height: 51px;
  }

  /* ------------------------ */
  .main_blog {
    padding-top: 30px;
  }

  /* ------------------- */
  .main_review {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .review__title-text {
    font-size: 36px;
  }

  .review__slid {
    padding: 20px;
  }

  /* ------------------- */
  .main_questions {
    padding: 30px 0 30px;
  }

  .quest__title {
    font-size: 36px;
  }

  /* ---------------- */
  .main_feedback {
    padding: 30px 0 30px;
  }

  .feedback__form {
    margin-right: 20px;
  }

  /* ------------------------- */

  .footer__inner-top {
    flex-direction: column;
    margin: 30px 0 30px;
  }

  .footer__top-content {
    margin-bottom: 20px;
  }

}

/* -----------------------600--------------------------- */
@media (max-width: 600px) {
  .service__grid {
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr;
  }

  .service__grid-item {
    height: 120px;
  }

  /* ------------------------- */
  .help__content-title {
    font-size: 24px;
    line-height: 36px;
  }

  .help__list-content.list-content-1 {
    margin-top: 0;
  }

  /* ------------------------- */
  .blog__list {
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
  }
}

/* -----------------------550--------------------------- */
@media (max-width: 550px) {
  .list-content-title {
    line-height: 36px;
  }

  /* ---------------------- */
  .advantages__content-number {
    font-size: 32px;
  }

  .advantages__content-text {
    font-size: 12px;
  }

  .advantages__content-items {
    margin-top: 0;
    margin-bottom: 0;
  }

  /* --------------------------------- */
  .review_arrows-icon {
    display: none;
  }
}

/* -----------------------500--------------------------- */
@media (max-width: 500px) {
  .logos__title {
    font-size: 32px;
    margin-bottom: 10px;
  }

  .logos__cont {
    flex-direction: column;
  }

  .blog__list {
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr / 1fr;
  }

  .blog_filter-btn {
    font-size: 24px;
  }

  .quest__acc-head {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .quest__acc-content {
    max-width: 300px;
  }

  .quest__acc-cube {
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 60px;
    width: 95px;
  }

  .cube-2 {
    padding-bottom: 0;
    margin-top: 0;
    width: 110px;
    margin-top: 30px;
  }

  .quest__acc-head::before {
    left: 225px;
  }

  .quest__acc-head::after {
    left: 225px;
  }

  .cube-1 {
    margin-top: 15px;
  }

  .review__slider-text {
    font-size: 16px;
  }

  .review__slider-img {
    display: none;
  }

  .review__slider {
    margin-left: 30px;
  }

  .feedback__info-name-city {
    font-size: 16px;
  }

  .feedback__info-contact-info {
    font-size: 16px;
  }

  .feedback__info-time {
    font-size: 16px;
  }
}

/* -----------------------450--------------------------- */

@media (max-width: 450px) {
  .help__content {
    margin-top: 50px;
  }

  .help__inner {
    flex-direction: column;
  }

  .help__content-btn {
    margin-bottom: 5px;
  }

  .help__list-content.list-content-2 {
    margin-top: 0;
  }

  .help__list {
    margin-top: 40px;
  }

  /* ---------------------- */

  .contact__title {
    font-size: 24px;
  }

  /* ------------------------ */
  .advantages__content-text {
    line-height: 24px;
  }

  .advantages__content-number {
    line-height: 120%;
  }

  .blog_filter-btn {
    padding-right: 10px;
  }

  .feedback__inner {
    flex-direction: column;
  }

  .feedback__info {
    margin-top: 10px;
  }

  .main_blog {
    padding-top: 0;
  }

  .review__title {

    margin-bottom: 30px;
  }

  .review__title-text {
    font-size: 28px;
    line-height: 54px;
  }

  .main_help {
    margin-top: 20px;
  }
}

/* -----------------------400--------------------------- */
@media (max-width: 400px) {
  .header__top {
    min-width: none;
    left: 0;
  }

  .header__body {
    margin-top: 120px;
  }

  .header__body-text {
    font-size: 32px;
    line-height: 54px;
  }

  .header__body-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__body-button {
    margin-bottom: 10px;
    margin: 0;
    margin-bottom: 10px;
  }

  .header__body-video {
    margin-left: 0;
  }

  /* ------------------------- */
  .service__grid-text {
    font-size: 16px;
  }

  .service__titles {
    font-size: 26px;
  }

  /* ----------------------- */
  .review__title-text {
    font-size: 36px;
  }

  .review__slider-text {
    font-size: 12px;
    line-height: 24px;
  }
}

/* -----------------------350--------------------------- */
@media (max-width: 350px) {
  .contact__button {
    margin-left: 35px;
  }

  .blog_filter-btn {
    font-size: 18px;
  }

  .cube-1 {
    margin-top: 30px;
    margin-right: 30px;
    max-width: 115px;
  }

  .quest__acc-cube {
    width: 135px;
    margin-right: 30px;
  }

  .quest__acc-head {
    font-size: 14px;
  }

  .quest__acc-head::before {
    left: 170px;
  }

  .quest__acc-head::after {
    left: 170px;
  }

  .cube-2 {
    margin-top: 45px;
    width: 145px;
  }

  .cube-4 {
    margin-top: 40px;
  }
}